server {
    listen       80;
    server_name  localhost;

    location = /metrics {
        content_by_lua '
            metric_connections:set(ngx.var.connections_reading, {"reading"})
            metric_connections:set(ngx.var.connections_waiting, {"waiting"})
            metric_connections:set(ngx.var.connections_writing, {"writing"})
            prometheus:collect()
        ';
    }

    location ~ ^/v2/[a-zA-Z0-9_.-]+(?:/[a-zA-Z0-9_.-]+)?/manifests/[a-zA-Z0-9_.-]+$ {
        rewrite_by_lua_block {
            ngx.req.read_body()
            local res = ngx.location.capture("/image-test", {method = ngx.HTTP_GET, args = {image = ngx.var.uri}})
            ngx.say(res.status)
            ngx.say(res.body)
            --if res.status == 200 then
            --    ngx.header.Set_Cookie = res.header["Set-Cookie"] # pass along the cookie set by the backend
            --    return ngx.redirect("/shows/")
            --else
            --    return ngx.redirect("/login.html")
            --end
        }
        #return 201;
    }

    location = /image-test {
        internal;
        proxy_pass http://reg_proxy/$image;
    }

    #error_page   500 502 503 504  /50x.html;
    #location = /50x.html {
    #    root   /usr/local/openresty/nginx/html;
    #}
}

