server {
    listen       80;
    server_name  localhost;

    location = /metrics {
        content_by_lua '
            metric_connections:set(ngx.var.connections_reading, {"reading"})
            metric_connections:set(ngx.var.connections_waiting, {"waiting"})
            metric_connections:set(ngx.var.connections_writing, {"writing"})
            prometheus:collect()
        ';
    }

    location ~ ^/v2/[a-zA-Z0-9_.-]+(?:/[a-zA-Z0-9_.-]+)?/manifests/[a-zA-Z0-9_.-]+$ {
        set $chosen_backend '';
        access_by_lua_block {
            local res = ngx.location.capture("/image-test" .. ngx.var.uri, {
                method = ngx.HTTP_GET
            })
            if res.status ~= 200 or ngx.var.request_method ~= "GET" then
                ngx.var.chosen_backend = 'reg_hosted'
            else
                -- TODO: can't we re-use the results from the ngx.location.capture?
                ngx.var.chosen_backend = 'reg_proxy'
            end
            metric_proxy_pass:inc(1, {ngx.var.chosen_backend, ngx.var.request_method})
        }
        proxy_pass http://$chosen_backend;
    }

    location ~ /image-test/(?<uri_to_test>.+) {
        internal;
        proxy_pass http://reg_proxy/$uri_to_test;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/local/openresty/nginx/html;
    }
}

